* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

ul {
    list-style: none;
}

h1 {
    font-size: 80px;
    font-weight: 900;
    padding-bottom: 30px;
}

h2 {
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.txt-center {
    text-align: center;
    padding: 10px;
}

.box-padding {
    padding: 30px 20px;
}
/* regole container */
.container-blu{
    background-color: #b4d0e7;
}

.container-stretto {
    width: 50%;
    margin: 0 auto;
    padding-top: 150px;
}

.container-stretto > * {
    padding-top: 30px;
}

/* regole nav header */

header nav {
    height: 80px;
    width: 100%;
    background-color: #fff;
    padding: 20px 15px;
    position: fixed;
    z-index: 900;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: black;
}

.col-nav {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5%;
    width: 50%;
}

.col-dx {
    justify-content: end;
}

/* regole jumbotron */
header .container-blu {
    padding-top: 150px;
}

.container-jumbotron {
    width: 60%;
    margin: 0 auto;
}

.jumbotron-row {
    display: flex;
}
.jumbotron-col-sx {
    width: 30%;
}

.jumbotron-col-sx > * {
    padding-bottom: 30px ;
}

.jumbotron-col-sx a {
    display: inline-block;
}
.jumbotron-col-sx .fa-solid {
    padding-top: 30px;
    font-size: 40px;
}

.jumbotron-col-dx{
    width: 70%;
    position: relative;
}

.jumbotron-col-dx img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* regole piano tariffario */

.w-33 {
    width: calc(100% / 3 - 20px);

    /* debug */
    min-height: 100px;
}

.col-tariffe {
    border: 1px solid #d0d0d3;
}

.col-tariffe .txt-center {
    border-bottom: 1px solid #d0d0d3;
}

.col-tariffe ul {
    list-style: circle;
    list-style-position: inside;
}

/* CHIEDERE DELLE LINEE NEI li */