* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

ul {
    list-style: none;
}

/* regole titoli */
h1 {
    font-size: 80px;
    font-weight: 900;
    margin-bottom: 30px;
}

h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}

h4 {
    font-size: 30px;
    font-weight: 700;
}

h5 {
    font-size: 18px;
    font-weight: 700;
}

/* regole testo */
.txt-wg-700 {
    font-weight: 700;
}

.txt-grey {
    color: grey;
}

.txt-center {
    text-align: center;
    padding: 10px;
}

/* regole flex */
.row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* regole width */
.w-33 {
    width: calc(100% / 3 - 20px);
}

.w-70 {
    width: 70%;
}

.w-30 {
    width: 30%;
}
/* regole bordo */
.border-1 {
    border: 1px solid #d0d0d3;
}

/* regole padding */

.box-padding {
    padding: 30px 20px;
}
/* regole container */
.container-blu{
    background-color: #b4d0e7;
}

.container-stretto {
    width: 50%;
    margin: 0 auto;
    padding-top: 150px;
}

.container-stretto > * {
    margin-top: 50px;
}

/* regole nav header */

header nav {
    height: 80px;
    width: 100%;
    background-color: #fff;
    padding: 20px 15px;
    position: fixed;
    z-index: 900;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: black;
}

.col-nav {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5%;
    width: 50%;
}

.col-dx {
    justify-content: end;
}

/* regole jumbotron */
header .container-blu {
    padding-top: 150px;
}

.container-jumbotron {
    width: 60%;
    margin: 0 auto;
}

.jumbotron-row {
    display: flex;
}

.jumbotron-col-sx > * {
    padding-bottom: 30px ;
}

.jumbotron-col-sx a {
    display: inline-block;
}
.jumbotron-col-sx .fa-solid {
    padding-top: 30px;
    font-size: 40px;
}

.jumbotron-col-dx{
    position: relative;
}

.jumbotron-col-dx img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* regole piano tariffario */

.col-tariffe .txt-center {
    border-bottom: 1px solid #d0d0d3;
}

.col-tariffe .padding-bt-20 * {
    padding-bottom: 20px;
}
.col-tariffe .padding-bt-40 {
    padding-bottom: 40px;
}
.col-tariffe .padding-bt-5 {
    padding-bottom: 5px;
}
.col-tariffe .interlinea {
    padding-bottom: 0;
    margin: 40px 0;
}

.col-tariffe li {
    padding-left: calc(1em + 5px);
    text-indent: calc(-1em - 5px);
}
.col-tariffe li:before {
    padding-right: 5px;
    font-family: "FontAwesome";
    /* Debug */
    content: "\f6d3";
}

/* regole contatti */

.box-contatto .txt-center {
    border-bottom: 1px solid #d0d0d3;
}
.box-contatto .padding-bt-20 {
    padding-bottom: 20px;
}

.box-contatto .padding-bt-40 {
    padding-bottom: 40px;
}