* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

ul {
    list-style: none;
}

/* regole titoli */
h1 {
    font-size: 80px;
    font-weight: 900;
    margin-bottom: 30px;
}

h2 {
    font-size: 46px;
    font-weight: 700;
}

h4 {
    font-size: 26px;
    font-weight: 700;
}

h5 {
    font-size: 18px;
    font-weight: 700;
}

/* regole testo */
.txt-wg-700 {
    font-weight: 700;
}

.txt-grey {
    color: grey;
}

.txt-center {
    text-align: center;
}

/* regole bottoni */
.buttons {
    font-weight: 500;
    color: white;
    text-decoration: none;
}

.button-blu-bg {
    background-color: #0061ff;
    padding: 10px 20px;
}
/* regole flex */
.row {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}
.center-flex {
    align-items: center;
}

.wrap-flex{
    flex-wrap: wrap;
}
.gap-20 {
    gap: 20px;
}

.gap-60 {
    gap: 60px;
}

/* regole width */
.w-33 {
    width: calc(100% / 3 - 20px);
}

.w-50 {
    width: 50%;
}

.w-70 {
    width: 70%;
}

.w-30 {
    width: 30%;
}

.w-20 {
    width: 20%;
}

/* regole bordo */
.border-1 {
    border: 1px solid #d0d0d3;
}

.black-border {
    border: 1px solid black;
}

/* regole padding */
.padding-10 {
    padding: 10px;
}
.box-padding {
    padding: 30px 20px;
}

/* regole margin */
.margin-bt-20 > * {
    margin-bottom: 20px;
}

.margin-bt-40 {
    margin-bottom: 40px;
}

.margin-top-bt-50 {
    margin: 50px 0;
}

.margin-top-150 {
    margin-top: 150px;
}

.margin-top-50 > * {
    margin-top: 50px;
}

/* regole immagine */
.image-100 {
    width: 100%;
}

.image-50 {
    width: 50%;
}

/* regole container */
.container-blu{
    background-color: #b4d0e7;
}

.container-stretto {
    width: 50%;
    margin: 0 auto;
    margin-top: 150px;
}

/* regole nav header */

header nav {
    height: 80px;
    width: 100%;
    background-color: #fff;
    padding: 20px 15px;
    position: fixed;
    z-index: 900;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px grey;
}

header a {
    text-decoration: none;
    color: black;
}

.col-nav {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5%;
    width: 50%;
}

.col-dx {
    justify-content: end;
}

/* regole jumbotron */
header .container-blu {
    padding-top: 150px;
}

.container-jumbotron {
    width: 60%;
    margin: 0 auto;
}

.jumbotron-row {
    display: flex;
}

.jumbotron-col-sx > * {
    margin-bottom: 30px ;
}

.jumbotron-col-sx a {
    display: inline-block;
}
.jumbotron-col-sx .fa-solid {
    padding-top: 30px;
    font-size: 40px;
}

.jumbotron-col-dx{
    position: relative;
}

.jumbotron-col-dx img {
    position: absolute;
    top: 0;
    left: 0;
}

/* regole piano tariffario */

.check-pieno {
    padding-right: 30px;
}
.check-pieno::before {
    padding-right: 5px;
    font-family: "FontAwesome"; 
    content: "\f192";
    color: #0061ff;
    
}
.check-vuoto .fa-circle {
    padding-right: 5px;
    color: #d0d0d3;
}
.col-tariffe .titolo-col {
    border-bottom: 1px solid #d0d0d3;
}

.col-tariffe .margin-bt-5 {
    margin-bottom: 5px;
}

.col-tariffe li {
    padding-left: calc(1em + 5px);
    text-indent: calc(-1em - 5px);
}

.icn-users:before {
    padding-right: 5px;
    font-family: "FontAwesome"; 
    content: "\f0c0";
}
.icn-utente:before {
    padding-right: 5px;
    font-family: "FontAwesome"; 
    content: "\f007";
}
.icn-share:before {
    padding-right: 5px;
    font-family: "FontAwesome"; 
    content: "\f1e0";
}
.icn-cartella:before {
    padding-right: 5px;
    font-family: "FontAwesome"; 
    content: "\f07b";
}
.icn-check:before {
    padding-right: 5px;
    font-family: "FontAwesome"; 
    content: "\f00c";
    color: #0061ff;
}

/* regole contatti */

.box-contatto .txt-center {
    border-bottom: 1px solid #d0d0d3;
}

.box-contatto .margin-bt-40 {
    margin-bottom: 40px;
}

.box-contatto .row {
    align-items: baseline;
}

.box-contatto .w-30 {
    text-align: end;
}

/* regole partner */

.button-black-border {
    padding: 10px 15px;
    border: 1px solid black;
    color: black;
    text-decoration: none;
}
/* regole link info clienti */

.container-info-clienti h2 {
    margin-bottom: 60px;
}

/* regole aziende */
.container-aziende {
    max-width: calc(100% / 3);
}

#aziende-txt {
    overflow-y: auto;
    padding: 60px;
    max-height: 700px;
    background-color: #f5f5f5;
}

.azienda-1-bg:first-child {
    box-shadow: inset 0 0 0px 10px rgba(255, 255, 255, 0.5);
}

.box-aziende > img {
    filter: invert(100%);
}

.box-aziende::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.azienda-1-bg {
    background-color: #a2d39b;
}
.azienda-2-bg {
    background-color: #61082b;
}
.azienda-3-bg {
    background-color: #0093ce;
}
.azienda-4-bg {
    background-color: #d5001f;
}
.azienda-5-bg {
    background-color: #ff1c1c;
}
.azienda-6-bg {
    background-color: #b4d0e7;
}
.azienda-7-bg {
    background-color: #0d2481;
}
.azienda-8-bg {
    background-color: #ffd830;
}

/* regole prova gratuita */
.container-prova-gratuita {
    width: 50%;
    margin: 0 auto;
    padding: 150px 0;
    align-items: baseline;
}

.container-prova-gratuita .w-30 {
    text-align: end;
}

.container-prova-gratuita h2 {
    color: #61082b;
}
.button-white-bg {
    background-color: white;
    padding: 10px 50px;
    color: black;
    text-decoration: none;
}

/* regole faq */
.faq {
    border-bottom: 1px solid black;
    padding: 40px 0;
    font-weight: 700;
}

#first-faq {
    border-top: 1px solid black;
}
.faq .fa-chevron-down {
    float: right;
    padding-right: 40px;
    font-size: 12px;
}

/* regole footer */
footer {
    background-color: black;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

.container-footer {
    width: 60%;
    margin: 0 auto;
    padding: 60px 0 30px;
}

.container-footer hr {
    color: white;
}
.change-lang::before {
    font-family: "FontAwesome";
    content: "\f57d";
}

.change-lang::after {
    font-family: "FontAwesome";
    content: "\f0d8";
}
